spring:
  application:
    name: campusmaster-backend
  
  datasource:
    url: jdbc:postgresql://localhost:5432/campusmaster
    username: postgres
    password: '@ndongo#Hb'
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  security:
    user:
      name: admin
      password: admin123
      roles: ADMIN

server:
  port: 8082
  servlet:
    context-path: /api

cors:
  allowed-origins: 
    - http://localhost:3000
    - https://localhost:3000
  allowed-methods: GET,POST,PUT,DELETE,OPTIONS
  allowed-headers: "*"
  allow-credentials: true

logging:
  level:
    com.campusmaster: DEBUG
    org.springframework.security: DEBUG